<nav>
    <img src="../assets/logo.png" alt="logo">
    <button onclick="toggleON()"><div class="d1"></div><div class="d2"></div><div class="d3"></div></button>
</nav>
<div class="menu">
    <ul>
        <a href="./home.html"><li>Home</li></a>
    </ul>
    <p class="categoria">PAPELERÍA</p>
    <ul>
        <a href="./copias.html"><li>Copias</li></a>
        <a href="./impresiones.html"><li>Impresiones</li></a>
        <a href="./tramites.html"><li>Tramites</li></a>
        <a href="./novedades.html"><li>Tienda de Novedades y Regalos</li></a>
        <!-- <a href="./inimpresas.html"><li>Invitaciones Impresas</li></a> -->
        <!-- <a href="./indigitales.html"><li>Invitaciones Digitales</li></a> -->
    </ul>
    <p class="categoria">Servicio Técnico</p>
    <ul>
        <a href="./reparacionCelulares.html"><li>Reparación de Celulares</li></a>
        <a href="./mttoXbox.html"><li>Mantenimiento de Xbox</li></a>
        <a href="./mttoLaptops.html"><li>Mantenimiento de Laptops</li></a>
    </ul>
    <!--<a href="#"><li>Reparación de Laptops</li></a>
        <a href="#"><li>Mantenimiento de Consolas</li></a>
        <a href="#"><li>Soporte Técnico</li></a>
    </ul>
-->
    <p class="contacto">Contacto:</p>
    <p class="num"><img src="../assets/whatsapp.png" alt="whatsapp">+52 993 189 7922</p>
    <div class="abrirwhats"><a href="https://wa.me/+529931897922"><button>Abrir WhatsApp</button></a></div>
</div>
<!-- fin del nav y el menu-->